{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="jumbotron">
      <h1 class="display-3">Baller Search!</h1>
      <p class="lead">I hate missing out posts by sick Nerd Ballers of Starcrafts. So built a tool to find the submissions, no matter what subreddit they are made to.</p>
      <hr class="my-4">
      {% include 'snippets/suggestions.html' %}
      <p class="lead">
        <form method="get" action="{% url 'search' %}">
           {% crispy form %}
        </form>
      </p>
    </div>

    <section>

      <h3>The longer story...</h3>

        <p>Once Catzpajamas posted a very interesting post and I almost missed
        it. I thought that if I missed this, then surely I must have missed other
        awesome stuff. This was unacceptable!! So I went into my coding bunker and
        wrote a scraper to find every thread ever created by a Pro,
        Caster or assorted Sick Nerd Baller on /r/starcraft.</p>

        <p>It gives a cool view into starcraft from the perspectives of those who
        were in the thick of it.</p>

    </section>
{% endblock %}
